<header>
  <ul class="nav">

    <img src="../../../assets/Frame.svg" [routerLink]="['/home']" routerLinkActive="router-link-active" >

    <li class="nav-item">
      <button [routerLink]="['/reactive']" routerLinkActive="router-link-active">Topics</button>
    </li>

    <li class="nav-item">
      <button [routerLink]="['/reactive']" routerLinkActive="router-link-active">Blogs</button>
    </li>

    <li class="nav-item">
      <button class="active" [routerLink]="['/tdf']" routerLinkActive="router-link-active">TDF</button>
    </li>

    <li class="nav-item">
      <button [routerLink]="['/reactive']" routerLinkActive="router-link-active">Reactive</button>
    </li>

  </ul>
</header>
