<form #userForm='ngForm'>

  {{userForm.value | json}}
  <hr />
  {{userModel | json}}

  <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="userModel.name"  required #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
    <span class="text-danger" [class.d-none]="name.valid || name.untouched">Name is Required</span>
  </div>

  <div class="form-group">
    <label class="control-label">Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
  </div>

<div class="form-group">
  <label class="control-label">Phone</label>
  <input type="tel" class="form-control" name="phone" [(ngModel)]="userModel.phone" required pattern="^\d{10}$" #phone="ngModel">
  <div *ngIf="phone.errors && (phone.invalid || name.touched)">
    <span class="text-danger" *ngIf="phone.errors.required">Phone Number is required.</span>
    <span class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits.</span>
  </div>
</div>

<div class="form-group">
  <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
    <option selected >I am interested in</option>
    <option *ngFor="let topic of topics">{{topic}}</option>
  </select>
</div>

<!-- <div ngModelGroup="address">
  <div class="form-group">
    <label>Street</label>
    <input type="text" class="form-control" name="street" ngModel>
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" name="city" ngModel>
  </div>
  <div class="form-group">
    <label>State</label>
    <input type="text" class="form-control" name="state" ngModel>
  </div>
</div> -->

<div class="mb-3">
  <label>Time Preference</label>
  <div class="form-check">
    <input type="radio" class="form-check-input" name="timePreferences" value="morning" [(ngModel)]="userModel.timePreference">
    <label class="form-check-label">Morning (9AM - 12PM)</label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" name="timePreferences" value="evening" [(ngModel)]="userModel.timePreference">
    <label class="form-check-label">Morning (5AM - 8PM)</label>
  </div>
</div>

<div class="form-check mb-3">
  <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">
  <label class="form-check-label">Send me promotional offers</label>
</div>

<button class="btn btn-primary">Submit</button>

</form>

